<!-- footer of the home page -->
<footer id="my-footer" class="footer avenir-regular leader-3">
    <div class="container">

      <nav class="column-6 pre-1">
        <h6 class="text-white"><span>SouthEast Regional Information</span></h6>
        <ul class="list-plain">
          <li><a class="link-light-gray" href="">Charlotte, NC</a></li>
          <li><a class="link-light-gray"href="">Atlanta, GA</a></li>
          <li><a class="link-light-gray"href="">Ft. Lauderdale, FL</a></li>
        </ul>
      </nav>

      <nav class="column-6 tablet-leader-1">
        <h6 class="text-white">About Arora Engineers</h6>
        <ul class="list-plain">
          <li><a class="link-light-gray" href="http://aroraengineers.com/">About Us</a></li>
          <li><a class="link-light-gray" href="http://www.esri.com/industries/airports-aviation">GIS in Aviation</a></li>
        </ul>
      </nav>

      <nav class="column-5 padding-leader-half right tablet-leader-1">
          <a href="http://aroraengineers.com/">
            <img class="rtaa_logo gutter-left-2" src="../../../static/home/dist/app/img/logo/arora-logo.png"/>
          </a>
        <section class="footer-social-nav gutter-left-3">
          <a class="icon-social-twitter" href="https://twitter.com/aroraengineers"></a>
          <a class="icon-social-instagram" href="https://www.instagram.com/aroraengineers/"></a>
          <a class="icon-social-linkedin" href="https://www.linkedin.com/company/aroraengineersinc"></a>
        </section>
        <p class="text-white"><small>2016 Arora Engineering, Inc.</small></p>
      </nav>
</footer>
